<div class="card">
  <div class="flex justify-between mb-3 gap-2">
    <div class="flex gap-2">
      @if (showAddRow()) {
        <p-button
          label="اضافه کردن سطر"
          icon="pi pi-plus"
          (onClick)="startAddRow()"
        />
      }
      <p-button
        label="ذخیره"
        icon="pi pi-save"
        severity="success"
        (onClick)="saveBatch()"
        [disabled]="totalPendingCount() === 0"
      />
      <p-button
        label="لغو"
        icon="pi pi-times"
        severity="secondary"
        [outlined]="true"
        (onClick)="discardAll()"
        [disabled]="totalPendingCount() === 0"
      />
    </div>

    <div>
      @if (editedCount() > 0 || addedCount() > 0) {
        <span class="text-color-secondary">
          @if (editedCount() > 0 && addedCount() > 0) {
            {{ editedCount() }} تغییر ذخیره نشده و {{ addedCount() }} سطر اضافه
            شده
          } @else if (editedCount() > 0) {
            {{ editedCount() }} تغییر ذخیره نشده
          } @else {
            {{ addedCount() }} سطر اضافه شده
          }
        </span>
      }
    </div>
  </div>

  <p-table
    #dt
    [dir]="dir()"
    [value]="tableValue()"
    [lazy]="true"
    [paginator]="true"
    [rows]="rows()"
    [rowTrackBy]="trackByFn"
    [columns]="selectedColumns()"
    [totalRecords]="totalRecords()"
    [first]="first()"
    [loading]="loading()"
    [customSort]="true"
    [dataKey]="keyField()"
    [sortMode]="'multiple'"
    [reorderableColumns]="allowReorder()"
    [scrollable]="true"
    [scrollHeight]="scrollHeight()"
    [resizableColumns]="true"
    (onLazyLoad)="loadPage($event)"
    (onEditComplete)="onCellEditComplete($event)"
    (onColReorder)="onColReorder($event)"
    [tableStyle]="{ 'min-width': '50rem', 'table-layout': 'fixed' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <input
          pInputText
          type="text"
          placeholder="جست و جو کنید..."
          [ngModel]="globalFilterValue"
          (ngModelChange)="onGlobalFilter($event)"
        />
        <div class="flex items-center justify-between gap-2">
          <p-multiselect
            [disabled]="
              hasAnyInvalidNewRow() ||
              hasAnyInvalidRow() ||
              totalPendingCount() > 0
            "
            display="chip"
            [options]="columns()"
            [ngModel]="selectedColumns()"
            (ngModelChange)="onSelectedColumnsChange($event)"
            optionLabel="faHeader"
            selectedItemsLabel="{0} ستون انتخاب شده"
            [style]="{ 'min-width': '200px' }"
            placeholder="ستون ها را انتخاب کنید"
          />
          <p-button
            label="پاک کردن"
            [outlined]="true"
            icon="pi pi-filter-slash"
            (click)="clear(dt)"
          />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        @if (allowReorder()) {
          <th style="width: 46px"></th>
        }
        @for (item of columns; track item.field) {
          <th
            [pSortableColumn]="item.field"
            [style.width]="item.width || '20%'"
            pReorderableColumn
            pResizableColumn
          >
            {{ item.faHeader }}
            <p-sortIcon [field]="item.field" />
            <p-columnFilter
              type="text"
              [field]="item.field"
              display="menu"
              [matchMode]="'contains'"
              [showOperator]="false"
              [showAddButton]="false"
              [showMatchModes]="false"
            />
          </th>
        }
        <th style="width: 4rem" pResizableColumn pReorderableColumn></th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-row
      let-columns="columns"
      let-index="rowIndex"
    >
      <tr
        [class.row-new]="row._isNew"
        [appRowHighlight]="isDirty(row)"
        [pReorderableRow]="index"
      >
        @if (allowReorder()) {
          <td>
            <span class="pi pi-bars" pReorderableRowHandle></span>
          </td>
        }
        @for (item of columns; track item.field) {
          <td
            [pEditableColumn]="row"
            [pEditableColumnField]="item.field"
            [ngClass]="{ 'cell-dirty': isCellDirty(row, item.field) }"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="row[item.field]"
                  (blur)="markFieldTouched(row, item.field)"
                  class="w-full"
                  (keydown)="onEditArrowKey($event)"
                  [class.p-invalid]="
                    isFieldTouched(row, item.field) &&
                    !!getFieldError(row, item.field)
                  "
                />
                @if (
                  isFieldTouched(row, item.field) &&
                    getFieldError(row, item.field);
                  as err
                ) {
                  <small class="p-error block text-xs mt-1">{{ err }}</small>
                }
              </ng-template>

              <ng-template pTemplate="output">
                <div class="flex flex-column gap-1">
                  <div
                    class="flex align-items-center justify-content-between gap-1"
                  >
                    <span
                      [ngClass]="{
                        'fix-height': isCellDirty(row, item.field),
                      }"
                      >{{ row[item.field] }}</span
                    >
                    @if (isCellDirty(row, item.field)) {
                      <p-button
                        icon="pi pi-undo"
                        [rounded]="true"
                        [text]="true"
                        severity="secondary"
                        size="small"
                        (onClick)="
                          undoCell(row, item.field); $event.stopPropagation()
                        "
                      />
                    }
                  </div>

                  @if (
                    isFieldTouched(row, item.field) &&
                      getFieldError(row, item.field);
                    as err
                  ) {
                    <small class="p-error text-xs">{{ err }}</small>
                  }
                </div>
              </ng-template>
            </p-cellEditor>
          </td>
        }

        <td class="text-center">
          <p-button
            (click)="op.toggle($event)"
            icon="pi pi-ellipsis-v"
            [rounded]="true"
            [text]="true"
            [outlined]="true"
          />
          <p-popover #op appendTo="body">
            @if (row._isNew) {
              <div class="flex items-center justify-content-center gap-1">
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                  [text]="true"
                  size="small"
                  (onClick)="deleteNewRow(row)"
                />
                <span class="text-color-secondary">حذف</span>
              </div>
            } @else if (isDirty(row)) {
              <div class="flex items-center justify-content-center gap-1">
                <p-button
                  icon="pi pi-undo"
                  [rounded]="true"
                  [text]="true"
                  severity="secondary"
                  size="small"
                  pTooltip="لغو تمامی تغییرات سطر"
                  (onClick)="undoRow(row)"
                />
                <span class="text-color-secondary">لغو تغییرات</span>
              </div>
            } @else {
              <span>عملیاتی موجود نیست!</span>
            }
          </p-popover>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length + 2" class="text-center">
          {{ emptyMessage() }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog />
<p-toast [position]="'top-left'" />
